<div class="main_header">
	<div class="container">
		<div class="header_block">
			<div class="header_logo">
				<a href="#">
					<img src="images/logo.png">
				</a>
			</div>
			<div class="header_navbar">
				<ul class="header_nav_ul">
					<li><a href="#">Link 1</a>
					</li>
					<li class="drop_down_li_1"><a href="#">Link 2</a>
						<div class="header_dropdown_nav">
							<div class="container">
								<div class="row">
									<div class="col-sm-4">
										<div class="header_dropdown_img">
											<img src="">
										</div>
									</div>
									<div class="col-sm-8">
										<ul>
											<li class="drop_down_li_2"><a href="#">Link 2.1</a>
												<ol>
													<li><a href="#">Link 2.1.1</a>
													</li>
													<li><a href="#">Link 2.1.2</a>
													</li>
													<li><a href="#">Link 2.1.3</a>
													</li>
													<li><a href="#">Link 2.1.4</a>
													</li>
													<li><a href="#">Link 2.1.5</a>
													</li>
												</ol>
											</li>
											<li class="drop_down_li_2"><a href="#">Link 2.2</a>
												<ol>
													<li><a href="#">Link 2.2.1</a>
													</li>
													<li><a href="#">Link 2.2.2</a>
													</li>
													<li><a href="#">Link 2.2.3</a>
													</li>
													<li><a href="#">Link 2.2.4</a>
													</li>
													<li><a href="#">Link 2.2.5</a>
													</li>
												</ol>
											</li>
											<li class="drop_down_li_2"><a href="#">Link 2.3</a>
												<ol>
													<li><a href="#">Link 2.3.1</a>
													</li>
													<li><a href="#">Link 2.3.2</a>
													</li>
													<li><a href="#">Link 2.3.3</a>
													</li>
													<li><a href="#">Link 2.3.4</a>
													</li>
													<li><a href="#">Link 2.3.5</a>
													</li>
												</ol>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li><a href="#">Link 3</a>
					</li>
					<li><a href="#">Link 4</a>
					</li>
					<li><a href="#">Link 5</a>
					</li>
					<li><a href="#">Link 6</a>
					</li>
					<li><a href="#">Link 7</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>