<div class="topmenu_bar">
    <div class="row">
        <div class="col-sm-6">
            <div class="leftmenu">
                <div class="dropdown">
                    <div class="dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">
                        <img src="./../assets/images/menu-button.svg" alt="menu">
                    </div>
                    <div class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <div class="trigger">
                            <div class="popup">
                                <div class="inner">
                                    <ul>
                                        <div class="first-section">
                                            <div class=""></div>
                                            <div class="profile-name-section">
                                                <div class="profile-name">
                                                    <span>Firstname</span>
                                                    <span>Lastname</span>
                                                </div>
                                                <div class="profile-btn">
                                                    View/Edit Profile
                                                </div>
                                            </div>
                                        </div>
                                        <div class="second-section">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#" [routerLink]="['../home']">Home</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#" [routerLink]="['../mydownloads']">My Download</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#" [routerLink]="['../mylibrary']">My Libraries</a>
                                            </li>
                                        </div>
                                        <div class="list-divider"></div>
                                        <div class="third-section">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#" [routerLink]="['../reportdetails']">Report details
                                                </a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#" [routerLink]="['../detail/1452']">Preview Libraries </a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">Upcoming Research</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">Custom Research</a>
                                            </li>
                                        </div>
                                        <div class="list-divider"></div>
                                        <div class="third-section">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">Recently Viewed</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#" [routerLink]="['../wishlist']">My Wishlist</a>
                                            </li>
                                        </div>
                                        <div class="list-divider"></div>
                                        <div class="third-section">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">Help</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">Logout</a>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="rightmenu_icons">
                <ul>
                    <li>
                        <a href="#">
                            <img src="./../assets/images/magnifier.svg" alt="magnifier">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="./../assets/images/download(1).svg" alt="download">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="./../assets/images/user1.svg" alt="user">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>